.create_assignment{
    border: 2px solid #bdbdbd;
    width: 50%;
    position: fixed;
    top: 150px;
    left: 400px;
    height: auto;

}
.header{
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    height: 80px;
    box-shadow: 0px 15px 10px -15px #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    word-spacing: 5px;
    letter-spacing: 1px;
}
.form_outer{
    display: flex;
    justify-content: center;
}
.form_container{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.label_field{
    margin-bottom: 5px;
    font-size: 20px;
    font-family: monospace;
}
.input_field, .textarea_field{
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid grey;
}
.input_field{
    height: 35px;
}
input[type=submit]{
    width: 150px;
    height: 43px;
    cursor: pointer;
    margin-top: 10px;
}
.submit_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bg_blue{
    background-color: blue;
}
.container_height{
    left: 350px;
}
.container_scroll{
    height: 400px;
    overflow-y: scroll;
}