*{
    box-sizing: border-box;
}
h1{
    margin: 0px;
    padding: 0px;
}
div{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
h3{
    margin: 0px;
    padding: 0px;
}
  /* Sign Up/In Component */
.user_outer_container{
      width: 100vw;
      height: 84vh;
      display: flex;
      justify-content: center;
      align-items: center;
}
.user_container{
      height: auto;
      width: 30vw;
      display: flex;
      flex-direction: column;
      border: 2px solid black;
        border-radius: 10px;
    padding: 10px;
    background-color: teal;
    box-shadow: 0px 0px 10px 5px grey;
}
.user_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
}
.user_form{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}
.user_form form{
display: flex;
flex-direction: column;
}
.user_form form input{
height: 40px;
padding-left: 15px;
font-size: 20px;
outline: none;
border-radius: 10px;
font-style: oblique;
margin-bottom: 15px;
}
.user_form form textarea{
    height: auto;
    padding-left: 15px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    font-style: oblique;
    margin-bottom: 15px;
    border: 2px solid black;
}
input[type=submit]{
    background-color: #132dcc;
    cursor: pointer;
}
/* navbar Component */
.navbar{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7vw;
    
    background-color: floralwhite;
}
/* do change here to put a company logo */
.company_logo{
    height: 90%;
    width: 100px;
}
.company_logo img{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.user{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_nav{
    height: 40px;
    width: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
}
.user_nav:hover{
    background-color: blue;
    box-shadow: 0px 0px 5px 1px grey;
}
/* FrontPage Component */
.front_page{
    height: 82vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Teacher Component */

.teacher_container{
    width: 100vw;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    background-color: floralwhite;
}
.teacher_container_header{
    height: 105px;
    width: 100vw;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 15px 2px grey;
    background-color: floralwhite;
}
.teacher_container_header h1{
    padding-top: 20px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.teacher_container_link{
    padding-top: 50px;
    width: 150px;
    height: 84vh;
    position: fixed;
    top: 105px;
    border-right: 1px solid grey;
    box-shadow: 0px 15px 10px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: floralwhite;
}
.teacher_container_link h3{
    margin-bottom: 10px;
}
.assignment_state{
    height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
    margin-bottom: 5px;
}
.assignment_state:hover{
    background-color: lightblue;
    box-shadow: 0px 0px 10px 2px grey;
    transform: scale(0.9);
}
.teacher_assignment{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 20px;
}
.assignment_outer_container{
    width: 70%;
    overflow: hidden;
    border: 2px solid #bdbdbd;
    margin: 20px 0px;
    position: fixed;
    top: 130px;
    left: 285px;
}
.assignment_outer_container h1{
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 0px;
    box-shadow: 0px 15px 10px -15px #111;
}
.assignment_container{
    width: 103%;
    height: 57vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 0px 40px 15px 30px;
}
.assignment_div{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: white;
    color: grey;
    font-family: cursive;
}
.assignment{
    display: flex;
    margin-bottom: 10px;
}
.assignment_title{
    width: 20%;
}
.assignment_ans{
    width: 80%;
}
.assignment_form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.assignment_form_container{
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: teal;
    box-shadow: 0px 0px 10px 5px grey;
    margin-top: 20px;
}
.bg_blue{
    background-color: blue;
}
